/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

@font-face {
  font-family: sf-mono;
  src: url("./fonts/SFMono-Regular.otf");
}

@font-face {
  font-family: calibre;
  src: url("./fonts//Calibre-Regular.otf");
}

@font-face {
  font-family: calibre;
  src: url("./fonts/Calibre-Semibold.otf");
  font-weight: bold;
}

@font-face {
  font-family: calibre;
  src: url("./fonts/Calibre-Bold.otf");
  font-weight: 900;
}

:root {
  --navy: #0a192f;
  --dark-navy: #020c1b;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --light-navy: #112240;
  --lightest-navy: #233554;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --mono-font: sf-mono, sans-serif;
  --calibre: calibre, sans-serif;
  --text-color: rgb(136, 146, 176);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--navy);
  height: 100vh;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* ----- NAV ----- */

.header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 0 50px;
  height: 70px;
  align-items: center;
  font-family: var(--mono-font);
  font-size: 13px;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0px -3px 25px 4px rgba(2, 12, 27, 0.7);
}

.header__logo {
  display: flex;
  justify-content: center;
}

.header__logo--logo-icon {
  height: auto;
  width: 45px;
  transition: transform 300ms;
}

.header__logo--logo-icon:hover {
  transform: translate(-5px, -5px);
  cursor: pointer;
}

#hexagon {
  z-index: -1;
  top: 2px;
  right: 42px;
  width: 40px;
  height: 41px;
  background: var(--green);
  position: relative;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.header__nav-bar {
  display: flex;
}

.nav-bar__item {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 10px;
  gap: 10px;
  font-size: 12px;
}

.nav-bar__item:hover {
  cursor: pointer;
}

.nav-bar__item:hover > .nav-bar__item--label {
  color: var(--green);
}

.nav-bar__item--number {
  color: var(--green);
}

.nav-bar__item--label {
  color: var(--lightest-slate);
}

.nav-bar__resume-btn {
  margin-left: 15px;
  padding: 0 15px;
  background-color: transparent;
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 5px;
}

/* ----- HERO ----- */

.main__hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
}

.hero__socials {
  position: fixed;
  bottom: 0;
  width: 150px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.hero__socials--icon {
  width: 20px;
  height: auto;
}

.hero__content {
  margin-left: 150px;
  padding: 0 50px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.hero__content--intro {
  color: var(--green);
  font-family: var(--mono-font);
  font-size: 16px;
}

.hero__content--name {
  font-size: 80px;
  font-family: var(--calibre);
  color: var(--lightest-slate);
}

.hero__content--mission {
  font-size: 80px;
  margin-top: -30px;
  font-family: var(--calibre);
  color: var(--light-slate);
}

.hero__content--summary {
  width: 60%;
  font-size: 20px;
  color: var(--text-color);
  font-family: var(--calibre);
}

.hero__email {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 150px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.hero__email--email {
  font-family: var(--mono-font);
  color: var(--light-slate);
  transform: translateY(-100px) rotate(90deg);
  font-size: 13px;
}

.vl {
  border-left: 1px solid var(--light-slate);
  height: 100px;
}

/* ----- ABOUT ME ----- */

.main__about-me {
  height: 100vh;
  width: 100vw;
}

.about-me__wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.about-me__container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.about-me__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}

.about-me__content--title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.section__number {
  color: var(--green);
  font-family: var(--mono-font);
  font-size: 20px;
}

.section__name {
  font-size: 30px;
  font-weight: bold;
  color: var(--lightest-slate);
  font-family: var(--calibre);
  margin-bottom: 5px;
}

.line {
  width: 350px;
  border: 0.5px solid var(--lightest-navy);
  margin-left: 5px;
}

.about-me__content--summary {
  font-size: 18px;
  color: var(--text-color);
  font-family: var(--calibre);
}

.technologies__heading {
  font-family: var(--calibre);
  font-size: 20px;
  color: var(--text-color);
  font-weight: normal;
}

.about-me__tech-list-container {
  display: flex;
}

.about-me__technologies--list {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}

.technologies-list__item {
  font-size: 12px;
  color: var(--text-color);
  font-family: var(--mono-font);
}

.technologies-list__item::before {
  content: "";
  border-color: transparent var(--green);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 12.5px;
  position: relative;
}

.about-me__profile-pic {
  position: relative;
  width: 50%;
}

.profile-pic__img {
  border-radius: 5px;
  height: 300px;
  width: 300px;
  filter: grayscale(100%) contrast(1);
  transition: transform 300ms;
}

.profile-pic__filter:hover + .profile-pic__outline + .profile-pic__img {
  transform: translate(-5px, -5px);
  filter: contrast(1);
}
.profile-pic__filter:hover {
  opacity: 0;
}
.profile-pic__filter:hover + .profile-pic__outline {
  transform: translate(5px, 5px);
}

.profile-pic__filter {
  z-index: 1;
  content: "";
  top: 0px;
  mix-blend-mode: multiply;
  height: 300px;
  width: 300px;
  content: "";
  background-color: var(--green);
  border-radius: 5px;
  position: absolute;
  transition: opacity 300ms;
}

.profile-pic__outline {
  z-index: -1;
  top: 15px;
  left: 15px;
  height: 300px;
  width: 300px;
  content: "";
  border: 2px solid var(--green);
  border-radius: 5px;
  position: absolute;
  transition: transform 300ms;
}

/* ----- EXPERIENCE ----- */

.main__experience {
  height: 100vh;
  width: 100vw;
}

.experience__container {
  width: 45%;
  margin: 10% auto 0 auto;
  display: flex;
  flex-direction: column;
}

.experience__content--title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.experience__content {
  display: flex;
  gap: 20px;
}

.content__experience-list {
  width: 20%;
  padding-left: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  height: fit-content;
}

.content__experience-list--focus-bar {
  content: "";
  background-color: var(--green);
  height: 40px;
  position: absolute;
  left: -2.6px;
  width: 3.2px;
  border-radius: 2px;
  transition: transform 300ms;
  z-index: 1;
}

.content__experience-list::after {
  content: "";
  background-color: var(--light-navy);
  height: 100%;
  position: absolute;
  left: -2.2px;
  top: 0px;
  width: 2px;
  z-index: -1;
  border-radius: 2px;
}

.experience-list__item {
  position: relative;
  font-family: var(--mono-font);
  color: var(--text-color);
  font-size: 13px;
  padding: 10px 20px;
}

.experience-list__item.focus {
  color: var(--green);
}

.experience-list__item:hover {
  background-color: var(--lightest-navy);
  cursor: pointer;
}

.content__experience-summary {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.experience-summary--title {
  font-family: var(--calibre);
  color: var(--lightest-slate);
  font-size: 20px;
  font-weight: 700;
}

.title--company-name {
  color: var(--green);
}

.experience-summary--dates {
  font-family: var(--mono-font);
  color: var(--text-color);
  font-size: 12px;
}

.experience-summary--job-duties {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}

.job-duties--item {
  color: var(--text-color);
  font-family: var(--calibre);
  font-size: 16px;
}

.job-duties--item::before {
  content: "";
  border-color: transparent var(--green);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 18px;
  position: relative;
}

/* ----- PROJECTS ----- */

.main__projects {
  width: 100vw;
  min-height: 100vh;
}

.projects__wrapper {
  width: 70%;
  margin: 0 auto;
}

.projects__title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.project__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.project {
  display: flex;
  position: relative;
  height: 300px;
  text-align: end;
}

.project__img {
  border: 1px solid white;
  width: 50%;
  position: relative;
  z-index: -1;
  border-radius: 5px;
}

.project__img--filter {
  background-color: var(--green);
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 5px;
  mix-blend-mode: multiply;
  transition: opacity 300ms;
}

.project__img--filter:hover {
  opacity: 0;
}

.project__img--filter-inverted {
  right: 0;
}

.project__text {
  width: 50%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}

.project__text--inverted {
  align-items: flex-start;
}

.featured-project {
  font-family: var(--mono-font);
  color: var(--green);
  font-size: 11px;
}

.project__title {
  font-family: var(--calibre);
  color: var(--lightest-slate);
  font-size: 30px;
}

.project__description {
  position: relative;
  z-index: 1;
  width: 120%;
  right: 20%;
  padding: 15px 25px;
  font-family: var(--calibre);
  color: var(--text-color);
  background-color: var(--light-navy);
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  border-radius: 5px;
  font-size: 16px;
  margin: 7px 0;
  text-align: right;
}

.project__description--inverted {
  right: 0;
  left: 0;
  text-align: left;
}

.project__tech-stack {
  font-family: var(--mono-font);
  color: var(--text-color);
  font-size: 12px;
  padding: 10px 0;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.project__links {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  margin-top: 10px;
  align-items: center;
}

.project__links * {
  height: 25px;
  width: 25px;
}

.project__links--github {
  height: 18px;
  width: 18px;
}

.project__links *:hover {
  cursor: pointer;
}

.project__links *:hover path {
  fill: var(--green);
}

/* ----- CONTACT ----- */

.main__contact {
  width: 100vw;
  height: 100vh;
}

.contact__wrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 100%;
}

.contact__title {
  font-family: var(--mono-font);
  color: var(--green);
  font-size: 14px;
  font-weight: normal;
}

.contact__call-to-action {
  font-size: 60px;
  font-family: var(--calibre);
  color: var(--lightest-slate);
}

.contact__info {
  color: var(--text-color);
  font-family: var(--calibre);
  font-size: 18px;
  text-align: center;
}
